@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --font-family-logo: 'Asap Condensed', sans-serif;
  --font-family-text: 'Poppins', sans-serif;
  --font-family-title: 'Poppins', sans-serif;

  --font-size-text: .875rem;
  --font-size-title-1: 2.25rem;
}

@media (min-width: 90rem) {
  :root {
    --font-size-text: 1rem;
    --font-size-title-1: 2.5rem;
  }
}
