* {
  margin: 0;
  padding: 0;
}

html,
body {
  font: normal 16px/1.5 sans-serif;
  min-height: 100vh;
  width: 100%;
}

body {
  background: var(--color-primary);
  color: var(--color-foreground-contrast);
  font-family: var(--font-family-text);
  font-size: var(--font-size-text);
}

h1 {
  font-size: var(--font-size-title-1);
  font-weight: 600;
  letter-spacing: .25rem;
  line-height: 1.25;
  text-transform: uppercase;
}
