* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font: normal 16px/1.5 sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: var(--font-family-text);
  font-size: var(--font-size-text);
}

a, button {
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-weight: 600;
  text-decoration: none;
}

button {
  align-items: center;
  border: 0;
  border-radius: .25rem;
  display: flex;
  gap: .625rem;
  line-height: 1.25;
  padding: .625rem 1.25rem;
  white-space: nowrap;
  i { font-size: 157.14%; }
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: .75rem;
}

h1, h2, h3 {
  line-height: 1.25;
  text-transform: uppercase;
}

h1 {
  font-size: var(--font-size-title-1);
  font-weight: 600;
  letter-spacing: .25rem;
}

h2 {
  font-size: var(--font-size-title-2);
  font-weight: 700;
  letter-spacing: .125rem;
}

h3 {
  font-size: var(--font-size-title-3);
  font-weight: 700;
  letter-spacing: .125rem;
}

h4 {
  font-size: var(--font-size-title-4);
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 1.25;
}

input {
  border: 0;
  border-radius: .25rem;
  font: inherit;
  padding: .625rem .75rem;
}

footer,
header,
main,
section {
  align-items: center;
  background: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 4rem 1.5rem;
  max-width: 75rem;
  width: 100%;
}

.page {
  background: var(--color-primary) url("../images/backgrounds/background-heart.png") no-repeat;
  // background: var(--color-primary);
  background-position: center 0;
  background-size: auto 100vh;
  color: var(--color-foreground-contrast);
  // display: grid;
  display: flex;
  flex-direction: column;
}

.text-primary { color: var(--color-primary); }

@media (min-width: 64rem) {
  .content { padding: 5rem 2rem; }
}

@media (min-width: 90rem) {
  button {
    gap: .75rem;
    i { font-size: 150%; }
  }
  .page { background-size: contain; }
}
