button.glass {
  backdrop-filter: blur(12px);
  background: hsl(236 10% 99% / .05);
  border: 1px solid hsl(236 10% 99% / .1);
  box-shadow: .125rem .125rem 1rem hsl(236 10% 20% / .25);
  text-align: center;
}

button.light {
  background: var(--color-background-light);
  color: var(--color-primary);
}

button.primary {
  background: var(--color-primary);
  color: var(--color-foreground-contrast);
}

button.secondary {
  background: var(--color-secondary);
  color: var(--color-primary);
}
