  footer {
    background: none;
    color: inherit;
    display: flex;
    justify-content: center;
  }

  footer .content {
    display: flex;
    padding: 3.5rem 1.5rem;
    max-width: 75rem;
  }

  footer .social-icons {
    font-size: 1.25rem;
    gap: .75rem;
  }

  @media (min-width: 64rem) {
    footer .content {
      padding: 5rem 2rem;
    }

    footer .social-icons {
      font-size: 1.25rem;
      gap: 1rem;
    }
  }
