main {
  align-items: center;
  background: none;
  color: inherit;
  display: flex;
}

main .content {
  padding: 2.5rem 1.5rem;
}

@media (min-width: 90rem) {
  main .content {
    padding: 8rem 2rem;
  }
}
