section {
  background: var(--color-background);
  color: var(--color-foreground);

  &.background-accent { background: var(--color-turquoise-50); }
  &.background-light { background: var(--color-background-light); }
  
  &.endorsements .content {
    align-items: center;
    color: var(--color-foreground-subtle);
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  &.endorsements .logos {
    display: flex;
    flex-direction: row;
    gap: 4rem;

    .logo {
      align-items: start;
      display: flex;
      justify-content: center;
    }

    .logo img {
      display: flex;
      height: auto;
      width: 75%;
    }
  }

  &.feature .content {
    align-items: center;
    gap: 2.5rem;
  }

  &.hero {
    background: none;
    color: inherit;
    min-height: calc(100vh - 6.25rem);
  }

  &.hero .content {
    align-items: start;
    height: 100%;
    justify-content: center;
    > * { max-width: 37.5rem; }
  }
}

@media (min-width: 64rem) {
  section {
    &.endorsements .logos { gap: 8rem; }
    &.hero { min-height: calc(100vh - 7.25rem); }
  }
}

@media (min-width: 90rem) {
  section {
    &.endorsements .content { gap: 2.5rem; }
    &.endorsements .logos {
      gap: 9rem;
      .logo img { width: 100%; }
    }
    &.hero { min-height: calc(100vh - 7.5rem); }
  }
}
