section {
  background: var(--color-background);
  color: var(--color-foreground);

  &.background-accent { background: var(--color-turquoise-50); }
  &.background-light { background: var(--color-background-light); }
  
  &.endorsements .content,
  &.feature .content,
  &.features .content,
  &.testimonials .content {
    align-items: center;
    gap: 2.5rem;
  }

  &.endorsements .content {
    color: var(--color-foreground-subtle);
    gap: 2rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    text-align: center;
  }
  &.endorsements .logos {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;

    .logo {
      align-items: start;
      display: flex;
      justify-content: center;
    }

    .logo img {
      display: flex;
      height: auto;
      width: 60%;
    }
  }

  &.features .card {
    .header {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: .75rem;
    }
    .header .icon {
      align-items: center;
      background: var(--color-secondary);
      border-radius: 50%;
      color: var(--color-primary);
      display: flex;
      font-size: 1.25rem;
      height: 2.25rem;
      justify-content: center;
      width: 2.25rem;
    }
  }
  &.features .cards {
    display: grid;
    gap: 1.5rem;
    grid-template-rows: 1fr 1fr 1fr;
  }

  &.testimonials {
    .avatar {
      background-repeat: no-repeat;
      background-size: contain;
      height: 3.5rem;
      width: 3.5rem;
      &.user1 { background-image: url("../images/users/user1.png"); }
      &.user2 { background-image: url("../images/users/user2.png"); }
      &.user3 { background-image: url("../images/users/user3.png"); }
    }

    .card { width: 18.25rem; }
    .card .header {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: .75rem;
    }
  }
  &.testimonials .cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: calc(100vw - 4rem);
    overflow: visible;
  }
  &.testimonials .info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .75rem;
  }
}

section.hero {
  background: none;
  background-image:
    radial-gradient(at 68% 4%, hsla(186, 72%, 64%, .4) 0, transparent 100%),
    radial-gradient(at 20% 80%, hsla(237, 50%, 64%, .25) 0, transparent 75%);
  color: inherit;
  justify-content: center;
  min-height: 100vh;
  padding: 6.25rem 0 0;

  .content {
    align-items: start;
    height: 100%;
    justify-content: center;
    > * { max-width: 37.5rem; }
  }

  .title span {
    line-height: 1;
    white-space: nowrap;
    &:first-of-type {
      font-size: 2.5rem;
      font-weight: 600;
      letter-spacing: .125rem;
    }
    &:last-of-type {
      font-size: 3.375rem;
      font-weight: 900;
      letter-spacing: -.0625rem;
    }
  }
}

@media (min-width: 64rem) {
  section {
    &.endorsements .logos { gap: 4rem; }
    &.features .cards {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
    }
    &.testimonials {
      .card { width: 23rem; }
      .cards { max-width: calc(100vw - 5rem); }
    }
  }

  section.hero {
    padding: 7.25rem 0 0;

    .title span {
      &:first-of-type {
        font-size: 6rem;
        letter-spacing: .0625rem;
      }
      &:last-of-type {
        font-size: 7.5rem;
        letter-spacing: -.125rem;
      }
    }
  }
}

@media (min-width: 90rem) {
  section {
    &.endorsements .content { gap: 2.5rem; }
    &.endorsements .logos {
      gap: 6rem;
      .logo img { width: 80%; }
    }
    &.testimonials {
      .avatar { height: 3.75rem; width: 3.75rem; }
      .card { width: 20.5rem; }
      .card .header { gap: 1rem; }
    }
    &.testimonials .content {
      flex-direction: row;
    }
    &.testimonials .info {
      align-items: start;
      min-width: 28.125rem;
    }
  }

  section.hero {
    padding: 7.5rem 0 0;
    
    .title span {
      &:first-of-type {
        font-size: 7rem;
        letter-spacing: .125rem;
      }
      &:last-of-type {
        font-size: 8.75rem;
        letter-spacing: -.125rem;
      }
    }
  }
}
