.stack {
  display: flex;
  
  &.column { flex-direction: column; }
  &.row { flex-direction: row; }

  &.gap-075 { gap: .75rem; }
  &.gap-1 { gap: 1rem; }
  &.gap-125 { gap: 1.25rem; }
  &.gap-15 { gap: 1.25rem; }
  &.gap-1625 { gap: 1.625rem; }
}

@media (min-width: 64rem) {
}

@media (min-width: 90rem) {
  .stack {
    &.gap-1-lg { gap: 1rem; }
    &.gap-2-lg { gap: 2rem; }
  }
}
